{#
  Parameters
  - image   | asset
  - display | position select | left, center, right
 #}

{% set image = block.image[0] ?? null %}

{% switch block.display %}
  {% case 'left' %}
    {% set spacingClass = 'spacing-vertical-medium' %}
    {% set wrapperClass = '-extrawide' %}
    {% set displayClass = 'float-left' %}
  {% case 'right' %}
    {% set spacingClass = 'spacing-vertical-medium' %}
    {% set wrapperClass = '-extrawide' %}
    {% set displayClass = 'float-right' %}
  {% default %}
    {% set spacingClass = 'spacing-vertical-large' %}
    {% set wrapperClass = '-wide' %}
    {% set displayClass = '' %}
{% endswitch %}

{% set transformOptions = {
  width: block.display != 'center' ? 560 : 1000
} %}

{% if image %}
  <div class="image-block {{ spacingClass }}">
    <div class="wrapper {{ wrapperClass }}">
      <img src="{{ image.url(transformOptions) }}" alt="" class="{{ displayClass }}">
    </div>
  </div>
{% endif %}
