body {
  color: #444;
  font-family: sans-serif;
  font-size: 18px;
}

[tabindex="-1"]:focus {
  outline: none;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

*:first-child {
  margin-top: 0 !important;
}

*:last-child {
  margin-bottom: 0 !important;
}

.wrapper {
  margin: auto;
  max-width: 800px;

  &.-wide {
    max-width: 1000px;
  }

  &.-extrawide {
    max-width: 1200px;
  }
}

.float-left {
  float: left;
  margin: 0 40px 40px 0;
}

.float-right {
  float: right;
  margin: 0 0 40px 40px;
}

.spacing-vertical-small {
  margin-bottom: 40px;
  margin-top: 40px;
}

.spacing-vertical-medium {
  margin-bottom: 60px;
  margin-top: 60px;
}

.spacing-vertical-large {
  margin-bottom: 100px;
  margin-top: 100px;
}

.text {
  p {
    line-height: (28/18);
    margin: 40px 0;
  }
}
